# Title

## Sub tiutle 

Some random text

In [2]:
import pandas as pd

# Load Excel file
df = pd.read_excel('Classeur1.xlsx')

In [3]:
df

   products   price
0  SNEAKERS    18876
1   BULIDNG     2454
2     HOUSE   334556
3    STUDIO      566
4      ROOM     5678